<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="plugin.video.bitchute">
		<category id="general" label="30032" description="General settings">
			<group id="main_group">
				<setting id="user" type="string" label="30002" help="Bitchute login id.">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30002</heading>
					</control>
				</setting>
				<setting id="password" type="string" label="30003" help="Bitchute password.">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30003</heading>
						<hidden>true</hidden>
					</control>
				</setting>
				<setting id="high_resolution_thumbnails" label="30033" type="boolean" help="Use 640x320 thumbnails rather than 320x180">
					<level>3</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="legacy_feed_behavior" label="30034" type="boolean" help="Use legacy feed behavior">
					<level>3</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="enable_cache" label="30036" type="boolean" help="Use legacy feed behavior">
					<level>3</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="clear_cache" type="action" label="30037" help="Clear cache.">
					<level>3</level>
					<data>RunPlugin(plugin://plugin.video.bitchute/clear_cache)</data>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
                <setting id="proxy_port" type="integer" label="30038" help="Proxy port on localhost.">
                    <level>3</level>
                    <default>1488</default>
                    <control type="edit" format="integer">
                    </control>
					<constraints>
						<minimum>1024</minimum>
						<maximum>65535</maximum>
					</constraints>
                </setting>
			</group>
		</category>
	</section>
</settings>
